/* Basic */
:root {
  --color-brand: #2684FF;
  --color-div: #f2f2f2;
  --color-divsolid: hsl(0,0%,80%);
  --color-goodnet: #2D974E;
  --color-inpfocus: rgba(65,195,221,0.1);
  --color-text: black;
  --color-bg: white;
  --color-error: #f23c76;
  --base-margin: 40px;
  --desktop-size: 900px;
  --mobile-size: calc(100% - 50px);
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'SF Mono';
  width: var(--desktop-size);
  margin: 0 auto;
  background: var(--color-bg);
}

a {
  color: var(--color-text);
}
a:hover {
  color: var(--color-brand);
}

/* Nav */

nav .active {
  font-weight: bold;
}

nav ul {
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  margin: var(--base-margin) auto;
}

nav .title {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  flex-grow: 2;
}

nav .right {
  list-style: none;
  display: flex;
  justify-content: right;
}

nav ul .links {
  display: flex;
  align-items: flex-end;
}

nav ul li {
  margin-left: 20px;
}

nav .account {
  background: var(--color-text);
  color: var(--color-bg);
  padding: .7rem .7rem;
  text-decoration: none;
}

nav .account:hover {
  background: var(--color-brand);
}

/* Dashboard */

.dashboard .net {
  margin: calc(1.5*var(--base-margin)) 0;
  text-align: center;
  font-size: 1.5rem;
}

.dashboard .net span {
  color: var(--color-bg);
  padding: .4rem .75rem;
  margin: -.4rem;
}

.dashboard .net .positive {
  background: var(--color-goodnet);
}

.dashboard .net .negative {
  background: var(--color-error);
}

.dashboard .controls {
  display: flex;
  align-items: center;
}

.dashboard .cities {
  flex-grow: 2;
  list-style: none;
  padding: 0;
  margin-right: 15px;
}

.dashboard .select__menu, .dashboard .select__control {
  border-radius: 0;
}

.dashboard .select__value-container {
  font-weight: bold;
  font-size: 1.15rem;
}

.dashboard .select__menu-list {
  padding: 0;
}

.dashboard .cities li a {
  font-weight: normal;
}

.dashboard .cities li {
  padding: 5px 0;
}

.dashboard .cities .currentcity a {
  font-weight: bold;
}

.dashboard .add {
  background: var(--color-text);
  color: var(--color-bg);
  padding: .6rem .8rem;
  text-decoration: none;
}

.dashboard .add:hover {
  background: var(--color-brand);
}

.dashboard .add:nth-child(2) {
  margin-right: 15px;
}

.bills {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
  font-size: 1.1rem;
  letter-spacing: -0.5px;
}

.bills .colorId {
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-right: .8rem;
  vertical-align: middle;
  margin-top: -3px;
}

.bills thead {
  text-align: left;
}

.bills td:first-child, .bills th:first-child {
  min-width: 100%;
  white-space: nowrap;
}

.bills .cost {
  text-align: right;
  width:0.1%;
  white-space: nowrap;
}

.bills td, .bills th {
  vertical-align: top;
  border-left: 1px solid var(--color-div);
  border-right: 1px solid var(--color-div);
  padding: .4rem .75rem;
}

.bills thead, .bills tbody {
  border-bottom: 2px solid var(--color-divsolid);
}

.bills thead {
  border-top: 2px solid var(--color-divsolid);
}

.bills tbody a {
  margin: 0 5px;
}

.bills .buttons {
  width: 150px;
  text-align: center;
}

/* Forms */
form .input label {
  font-size: 0.9rem;
}

form .input input, form .input textarea {
  margin-top: 5px;
  box-sizing: border-box;
  width: 100%;
  background: var(--color-bg);
  padding: .25em .5em;
  color: var(--color-text);
  min-height: 38px;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  font-size: 1.1rem;
  font-family: inherit;
  border: 1px solid var(--color-divsolid);
}

form .input input[type="color"], input[type="color"]::-webkit-color-swatch-wrapper, input[type="color"]::-webkit-color-swatch {
  padding: 0;
  outline: 0;
  border: none;
  cursor: pointer;
}

form .input input:focus, form .input textarea:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--color-brand);
  border: 1px solid var(--color-brand);
}

form .input {
  margin: 20px auto;
}

form button {
  outline: none;
  padding: .9em .75em;
  width: 100%;
  border: 0;
  background: var(--color-text);
  color: var(--color-bg);
  font-family: inherit;
  cursor: pointer;
  font-size: 1.05rem;
}

form button:hover {
  background: var(--color-brand);
}

form .error {
  color: var(--color-error);
}

/* Footer */

footer {
  font-size: 0.8rem;
  opacity: 0.6;
  margin: var(--base-margin) auto;
}

/* Media Queries */

@media screen and (max-width: 800px) {
  .App {
    width: var(--mobile-size);
  }
  .dashboard .add span {
    display: none;
  }
}