/* Basic */
:root {
  --color-brand: #2684FF;
  --color-div: #f2f2f2;
  --color-divsolid: hsl(0,0%,80%);
  --color-goodnet: #2D974E;
  --color-inpfocus: rgba(65,195,221,0.1);
  --color-text: black;
  --color-lightgray: #848484;
  --color-darkgray: #5b5b5b;
  --color-bg: white;
  --color-error: #f23c76;
  --base-margin: 30px;
  --desktop-size: 700px;
  --mid-size: calc(100% - 70px);
  --mobile-size: calc(100% - 25px);
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'SF Display', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

a, button {
  transition: all ease 0.2s;
}

p, a, b {
  line-height: 24.5px;
  /* letter-spacing: -0.6px; */
}

.App {
  width: var(--desktop-size);
  margin: 0 auto;
  background: var(--color-bg);
}

a {
  color: var(--color-text);
}
a:hover {
  color: var(--color-brand);
}

/* Nav */

nav .active:not(.account) {
  font-weight: bold;
}

nav ul {
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  margin: var(--base-margin) auto;
}

nav .title {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  flex-grow: 2;
}

nav .title span {
  font-weight: 500;
}

nav .right {
  list-style: none;
  display: flex;
  justify-content: right;
}

nav ul .links {
  display: flex;
  align-items: flex-end;
}

nav ul li {
  margin-left: 20px;
}

nav .account {
  background: var(--color-text);
  color: var(--color-bg);
  padding: .7rem .7rem;
  text-decoration: none;
}

nav .account:hover {
  background: var(--color-brand);
  font-weight: 500;
}

nav .account.active {
  background: var(--color-brand);
}

/* Dashboard */

.dashboard .net {
  margin: 3rem 0 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard .net .titleContainer {
  display: block;
  flex-grow: 2;
}

.dashboard .net .titleContainer h1 {
  font-size: 2rem;
  margin: 20px 0;
}

.dashboard .net .titleContainer p {
  color: var(--color-darkgray);
}

.dashboard .net br {
  display: block;
  margin: 13px 0;
  content: " ";
}

.dashboard .chartContainer {
  max-width: 30%;
}

.dashboard .net span {
  color: var(--color-bg);
  padding: .4rem .75rem;
  margin: -.4rem;
  font-size: 2.8rem;
}

.dashboard .net .positive {
  background: var(--color-goodnet);
}

.dashboard .net .negative {
  background: var(--color-error);
}

.dashboard .net h4 {
  font-weight: 500;
  color: var(--color-darkgray);
  margin: 0;
}

.dashboard .controls {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.dashboard .cities {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 15px;
}

.dashboard .selectCity, .dashboard .addCity {
  flex-grow: 2;
}

.dashboard .extrapolator {
  width: 120px;
}

.dashboard .select__menu, .dashboard .select__control {
  border-radius: 0;
}

.dashboard .select__value-container {
  font-weight: bold;
  font-size: 1.25rem;
}

.dashboard .extrapolator .select__value-container {
  font-size: 0.9rem;
  font-weight: 500;
}

.dashboard .select__menu-list {
  padding: 0;
}

.dashboard .cities li a {
  font-weight: normal;
}

.dashboard .cities li {
  padding: 5px 0;
}

.dashboard .cities .currentcity a {
  font-weight: bold;
}

.dashboard .add {
  background: var(--color-text);
  color: var(--color-bg);
  padding: .45rem .8rem;
  text-decoration: none;
}

.dashboard .add:not(.cancel):hover {
  background: var(--color-brand);
}

.dashboard .add .extrapolator, .dashboard .addcity, .dashboard .submit {
  margin-right: 15px;
}

.dashboard .cancel {
  background: var(--color-lightgray);
}

.dashboard .cancel:hover {
  background: var(--color-darkgray);
}

.dashboard .addCityInput {
  width: 100%;
}

.dashboard .addCityInput input {
  box-sizing: border-box;
  width: 100%;
  background: var(--color-bg);
  padding: .25em .5em;
  color: var(--color-text);
  min-height: 38px;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  font-size: 1.1rem;
  font-family: inherit;
  border: 1px solid var(--color-divsolid);
}

.dashboard .addCityInput input:focus {
  outline: none !important;
  box-shadow: 0 0 0 1px var(--color-brand);
  border: 1px solid var(--color-brand);
}

.dashboard .deleteCity {
  display: flex;
  margin-top: calc(var(--base-margin)/2);
  font-size: 0.92rem;
}

.dashboard .deleteCity a:first-child {
  flex-grow: 2;
}

.dashboard .deleteCity a:nth-child(2) {
  
}

.dashboard .deleteCity a {
  color: var(--color-darkgray);
}

.dashboard .deleteCity a:hover {
  color: var(--color-brand);
}

.bills {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
  font-size: 1.1rem;
  /* letter-spacing: -0.5px; */
}

.bills .colorId {
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-right: .6rem;
  vertical-align: middle;
  margin-top: -3px;
}

.bills thead {
  text-align: left;
}

.bills td:first-child, .bills th:first-child {
  min-width: 100%;
  white-space: nowrap;
}

.bills .cost {
  text-align: right;
  width:0.1%;
  white-space: nowrap;
}

.bills .description {
  color: var(--color-darkgray);
}

.bills .totals {
  border-top: 1px solid var(--color-divsolid);
}

.bills td, .bills th {
  /* vertical-align: top; */
  border-left: 1px solid var(--color-div);
  border-right: 1px solid var(--color-div);
  padding: .4rem .75rem;
}

.bills thead, .bills tbody {
  border-bottom: 1px solid var(--color-divsolid);
}

.bills thead {
  border-top: 1px solid var(--color-divsolid);
}

.bills tbody a {
  margin: 0 5px;
}

.bills .buttons {
  width: 100px;
  text-align: center;
}

/* Forms */
form .input label {
  font-size: 0.9rem;
}

form .input input, form .input textarea {
  margin-top: 5px;
  box-sizing: border-box;
  width: 100%;
  background: var(--color-bg);
  padding: .25em .5em;
  color: var(--color-text);
  min-height: 38px;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  font-size: 1.1rem;
  font-family: inherit;
  border-radius: 0;
  border: 1px solid var(--color-divsolid);
}

form .input input[type="color"], input[type="color"]::-webkit-color-swatch-wrapper, input[type="color"]::-webkit-color-swatch {
  padding: 0;
  outline: 0;
  border: none;
  cursor: pointer;
  border-radius: 0;
}

form .input input:focus, form .input textarea:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--color-brand);
  border: 1px solid var(--color-brand);
}

form .input {
  margin: 20px auto;
}

form button {
  outline: none;
  padding: .9em .75em;
  width: 100%;
  border: 0;
  background: var(--color-text);
  color: var(--color-bg);
  font-family: inherit;
  cursor: pointer;
  font-size: 1.05rem;
}

form button:hover {
  background: var(--color-brand);
}

form .error {
  color: var(--color-error);
}

.disabled {
  opacity: 0.4;
}

/* Footer */

footer {
  font-size: 0.8rem;
  opacity: 0.6;
  margin: calc(var(--base-margin)/3) auto;
  display: flex;
  vertical-align: middle;
}


footer .left {
  text-align: left;
  flex-grow: 2;
}

footer .right {
  text-align: right;
}

footer .right a {
  margin-left: 15px;
}

footer .active {
  font-weight: bold;
}

.bridge {
  display: none;
}

/* Media Queries */

@media screen and (max-width: 900px) {
  .App {
    width: var(--mid-size);
  }
  .dashboard .add span {
    display: none;
  }
  table th, table td {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .App {
    width: var(--mobile-size);
  }
  table th, table td {
    font-size: 0.9rem;
  }
  table td {
    padding: .3rem .6rem !important;
  }
  table th:nth-child(3), table td:nth-child(3) {
    display: none;
  }
  .dashboard .select__value-container {
    font-size: 0.8rem;
  }
  
  .dashboard .extrapolator .select__value-container {
    font-size: 0.7rem;
    font-weight: 500;
  }
  
  .dashboard .select__menu-list {
    padding: 0;
  }

  .dashboard .cityListContainer {
    margin: .6rem 0;
  }
  .dashboard .cities, .dashboard .addcity, .dashboard .submit {
    margin-right: 8px;
  }
  .dashboard .add {
    font-size: .8rem;
    padding-left: .6rem;
    padding-right: .6rem;
  }
  .controls .extrapolator {
    width: 100px;
  }
  nav ul {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .dashboard .net {
    margin: 0 0 2rem 0;
  }
  .dashboard .select__indicator {
    padding: 8px 5px !important;
  }
  .dashboard .select__indicator-separator {
    display: none;
  }
  .titleContainer h1 span {
    font-size: 2rem !important;
    margin-left: 3px !important;
  }
  .dashboard .net br {
    margin: 10px 0 !important;
  }
  footer, .deleteCity a {
    font-size: 0.7rem;
  }
  .deleteCity, footer p {
    margin: 5px 0;
  }
}