/* Basic */

html, body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'SF Mono';
  width: 700px;
  margin: 0 auto;
}

a {
  color: #80b543;
}

/* Nav */

nav {
  margin: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
}

nav .title {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  flex-grow: 2;
}

nav .right {
  list-style: none;
  display: flex;
  justify-content: right;
}

nav ul .links {
  display: flex;
  align-items: flex-end;
}

nav ul li , nav .title {
  margin: 0 15px;
}